* {
    font-family: 'Roboto Slab', serif;
}

canvas {
    width: calc(100% - 300px);
    height: 100%;
    top: 0;
    left: 300px;
    position: fixed;
}

body {
    background-color:rgb(37, 36, 36);
    color: white;
    text-align: center;
}