* {
    font-family: 'Roboto Slab', serif;
}

canvas {
    width: calc(100% - 400px);
    height: 100%;
    top: 0;
    left: 400px;
    position: fixed;
}

a {
    color: inherit;
}

h1 {
    display: inline;
}

.ui-container {
    width: 400px;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    overflow-y: scroll;
    padding-left: 20px;
}

input {
    width: 100px;
}

body {
    background-color: rgb(37, 36, 36);
    color: white;
}
